<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.adweb_backend.dao.UserMapper">
    <select id="findUserInfoById" parameterType="int"
            resultType="com.example.adweb_backend.mybatis.po.User">
        select id, username, nickname, phone, email, profileid from web3d.user where id = #{id}
    </select>
    <select id="findUserByUsername" parameterType="java.lang.String"
            resultType="com.example.adweb_backend.mybatis.po.User">
        select * from web3d.user where username = #{username}
    </select>

    <insert id="createUser" useGeneratedKeys="true" keyProperty="id">
        insert into web3d.user (username, nickname, phone, email, salt, passwd, profileid)
            values (#{username}, #{nickname}, #{phone}, #{email}, #{salt}, #{passwd}, #{profileid})
    </insert>

    <update id="updateUser">
        update web3d.user set nickname=#{nickname}, phone=#{phone}, email=#{email}
            where id=#{id};
    </update>

    <update id="chooseProfile">
        update web3d.user set profileid=#{profileID} where id=#{id}
    </update>
</mapper>